*.jou
*.log
*.str
*.pb
*.mti
*.sim/
*.runs/
*.cache/
*.hw/
*.ip_user_files/
*.backup.*
*.jou
*webtalk*
.Xil/
*.bit
*.xsa
*.dcp
.rigel_lopper/
_ide/
aes_platform/
aes_app/
aes_accelerator.cache/
aes_accelerator.hw/
aes_accelerator.sim/
aes_accelerator.runs/
aes_accelerator.ip_user_files/
aes_accelerator.gen/